* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 100%;
    min-height: 100vh;
   }

section {
   	height: 100%;
   	weight: auto;
   	background-size: cover;
   	background-repeat: no-repeat;
    background-position: center center;
    font-family: sans-serif;
   }


header {
   align-items: center;
   height: 100%;
   }

#menu__toggle{
visibility: hidden;
}

 .logo img {
    margin-left: 1em;
    max-width: 10%;
    height: auto !important;
     text-align: left;
 }

.menu-main {
	display: flex;
    flex-flow: nowrap;
	flex-direction: row;
	justify-content: left;
	margin-left:10em;
	margin-top: -5%;
	transition: .5s;
    list-style-type: none;
}

.menu-main li a {
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
    transition: .5s;
}


.menu-main li a:hover {
text-decoration: underline;
text-decoration-color: #FFFF00;
text-underline-offset: 5px;
}



.footer{
   position: fixed;
   bottom:0;
   width: 100%;

   background: #808080;
   min-height: 10%;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}
